        /* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

        /* estilos globales */

body{
   background-image: url(../multimedia/p.jpg);
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
}
h1{
    background-color: #F8F9FA;
    color: #80203B;
    margin: 0;
}

        /* nav */
.nav-pc{
    display: none;
}        

        /* estructura */

#page{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer" ;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 2fr 1fr 5rem ;
}
#page header{
    grid-area: header;
}
#page nav{
    grid-area: nav;  
}
#page main{
    grid-area: main;  
}
 

        /* pag index celu */

.logo{
    display: none;
} 
.principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15rem;
    margin-right: 2.5rem;
}
.principal ul li{
    list-style: none;
    color: #80203B;
}

        /* pag quiensoy celu */
.cocinera{
    display: none;
}
.principal-dos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.texto p{
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    color: #80203B;
    
}
.principal-dos .cocinera{
    height: 20rem;

}

        /* pagina menu celu */

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 1rem;  
}
.menu div{ 
    height: 24rem;
    width: 14rem;
}
.menu div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;   
}
.carta-cinco, .carta-seis{
    display: none;
}

        /* pagina galeria celu */

.galeria{ 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 1rem;
} 
.galeria div{
    object-fit: cover;
    height: 15rem;
    width: 11rem;
} 
.galeria div img{
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    object-fit: cover;
}  

        /* pagina redes celu */

.redes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 15rem;
    margin-top: 7rem;
}
.redes img{
    display: none;
}
.redes a{
    text-decoration: none;
    color: #80203B;
    font-size: 2rem;
}

        /* solo footer */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F8F9FA; 
    color: #80203B;
    text-align: center;
} 

        /* mediaquire */

        @media screen and (min-width:990px){

        /* estructura pc */

        #page{
            display: grid;
            width: 100%;
            height: 100vh;
            grid-template-areas:
            "header"
            "nav"
            "main"
            "footer" ;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr 2fr 1fr 5rem ;
        }

        /* nav pc */
.nav-cel{
    display: none;
}
.nav-pc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 40000;
    background-color: #F8F9FA;
}
.nav-pc ul{
    display: flex; 
    list-style: none;
    align-items: center;  
}
.nav-pc ul li{
    margin: 0.2rem 5rem;
    font-size: 1.2rem;
}
.nav-pc ul li a{
    text-decoration: none;
    color: #80203B;
}
.nav-pc ul li:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

        /* pag index pc */

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    justify-content: center;
    margin-top: 9rem;
}
.principal .logo{
    display: block;
    grid-column: span 1;
    grid-row: span 1;
    height: 25rem;
    object-fit: cover;

}
.principal ul li{
    font-size: 2rem;
    text-align: center;
    list-style: none;
    color: #80203B;
}

        /* pag quiensoy pc */

.cocinera{
    display: block;
    grid-column: span 1;
    grid-row: span 1;
}
.principal-dos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin-top: 15vh;
}
.principal-dos .texto{
    display: grid;
    font-size: 1.5rem;
    padding-left: 8rem;
    color: #80203B;
    
}
.principal-dos .cocinera{
height: 25rem;
object-fit: cover;
margin-bottom: 2rem;
}

        /* pag menu pc */

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 2rem;
    height: 100vh;
      
}
.carta-cinco, .carta-seis{
    display: block;
    grid-column: span 1;
    grid-row: span 1;
}
.menu div{ 
    height: 50rem;
    width: 30rem;
}
.menu div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 3rem;
} 

        /* pag galeria pc */

.galeria{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 1rem;
    height: 100vh;
} 
.galeria div{
    object-fit: cover;
    height: 50rem;
    width: 30rem;
} 
.galeria div img{
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    object-fit: cover;
}  

        /* pag redes pc */

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 2rem; 
    margin-top: 9rem;  
}
.redes a{
    text-decoration: none;
    color: #80203B;
    font-size: 2rem;
    margin-left: 30rem;
}
.redes img{
    display: block;
    grid-column: span 1;
    grid-row: span 1;
    object-fit: cover;
    height: 10rem;
    margin-right: 30rem;
}
}