body h1, footer {
  background-color: #e4c5c4;
  color: #000; }

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* estilos generales */
body {
  background-image: url(../multimedia/p.jpg);
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%; }
  body h1 {
    margin: 0; }

/* estructura cel */
#page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 5rem; }
  #page header {
    grid-area: header; }
  #page nav {
    grid-area: nav; }
  #page main {
    grid-area: main; }

/* estructura de pc */
@media screen and (min-width: 990px) {
  #page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 5rem; } }

/* pag index celu */
.logo {
  display: none; }

.principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 15rem;
  margin-right: 2.5rem; }
  .principal ul li {
    list-style: none;
    color: #000; }

/* pag quiensoy celu */
.cocinera {
  display: none; }

.principal-dos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  gap: 5rem;
  margin-top: 5rem; }
  .principal-dos .cocinera {
    height: 20rem; }
  .principal-dos .texto {
    text-align: center; }
    .principal-dos .texto p {
      margin-top: 1.7rem;
      margin-right: 2rem;
      margin-left: 2rem;
      color: #000; }

/* pagina menu celu/tablet */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 1rem; }
  .menu div {
    height: 90%;
    width: 60%; }
    .menu div img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin-top: 2rem;
      border-radius: 10px; }

.carta-cinco,
.carta-seis {
  display: none; }

/* pagina galeria celu/tablet */
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center; }
  .galeria div {
    object-fit: cover;
    height: 80%;
    width: 50%; }
    .galeria div img {
      height: 100%;
      width: 100%;
      margin-bottom: 2rem;
      object-fit: cover;
      border-radius: 10px; }

/* pagina contactame celu */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 10px auto 40px; }
  .formulario form {
    background-color: #e4c5c4;
    color: #000;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    width: 100%; }
    .formulario form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold; }
    .formulario form input[type="text"],
    .formulario form input[type="email"],
    .formulario form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #000;
      border-radius: 5px;
      font-size: 10px; }
    .formulario form button {
      background-color: #e4c5c4;
      color: #000;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer; }

.redes {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .redes a {
    text-decoration: none;
    margin: 0 10px; }
  .redes img {
    max-width: 50px;
    border-radius: 10px; }

/* pag index tablet */
@media screen and (min-width: 600px) {
  .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9rem; }
    .principal ul li {
      font-size: 2rem;
      text-align: center;
      list-style: none;
      color: #000; }
    .principal .logo {
      display: block;
      border-radius: 10px;
      height: 25rem;
      object-fit: cover;
      margin-top: 3rem;
      margin-left: 3rem; }
  /* pag quiensoy tablet */
  .principal-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .principal-dos .cocinera {
      border-radius: 10px;
      display: block;
      object-fit: cover;
      height: 25rem;
      margin: 0 2rem 5rem; }
    .principal-dos .texto {
      display: inline;
      text-align: center;
      width: 40rem;
      font-size: 1.2rem;
      margin-left: 2rem;
      color: #000; }
  /* pag contactame tablet */
  .contacto {
    height: 90vh;
    margin-top: 50px; }
    .contacto .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      margin: 10px auto; }
      .contacto .formulario form {
        padding: 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #e4c5c4;
        border-radius: 5px;
        text-align: left;
        width: 100%; }
        .contacto .formulario form label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold; }
        .contacto .formulario form input[type="text"],
        .contacto .formulario form input[type="email"],
        .contacto .formulario form textarea {
          border: 1px solid #000;
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          font-size: 10px; }
        .contacto .formulario form button {
          background-color: #e4c5c4;
          color: #000;
          border: 1px solid #000;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer; }
  .redes {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
    .redes a {
      text-decoration: none;
      margin: 0 10px; }
    .redes img {
      max-width: 50px;
      border-radius: 10px; } }

/* pag index pc */
@media screen and (min-width: 1100px) {
  .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9rem;
    gap: 10%; }
    .principal ul li {
      font-size: 2rem;
      text-align: center;
      list-style: none;
      color: #000; }
    .principal .logo {
      display: block;
      border-radius: 10px;
      height: 25rem;
      object-fit: cover; }
  /* pag quiensoy pc */
  .principal-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .principal-dos .cocinera {
      display: block;
      border-radius: 10px;
      height: 25rem;
      object-fit: cover;
      margin: 0 2rem 5rem; }
    .principal-dos .texto {
      display: inline;
      text-align: center;
      width: 40rem;
      font-size: 1.2rem;
      margin-left: 2rem;
      color: #000; }
  /* pag menu pc */
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    height: 100vh; }
    .menu .carta-cinco,
    .menu .carta-seis {
      display: block;
      grid-column: span 1;
      grid-row: span 1; }
    .menu div {
      object-fit: cover;
      height: 90%;
      width: 60%; }
      .menu div img {
        display: block;
        border-radius: 10px;
        height: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        margin-top: 1rem;
        margin-bottom: 3.5rem; }
  /* pag galeria pc */
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    height: 100vh; }
    .galeria div {
      object-fit: cover;
      height: 90%;
      width: 60%; }
      .galeria div img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        margin-top: 1rem;
        margin-bottom: 3rem;
        border-radius: 10px; }
  /* pag contactame pc */
  .contacto {
    margin-top: 100px; }
    .contacto .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 600px;
      margin: 20px auto; }
      .contacto .formulario form {
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #e4c5c4;
        text-align: left;
        width: 100%;
        max-width: 400px; }
        .contacto .formulario form label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 14px; }
        .contacto .formulario form input[type="text"],
        .contacto .formulario form input[type="email"],
        .contacto .formulario form textarea {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid #000;
          border-radius: 5px;
          font-size: 14px; }
        .contacto .formulario form button {
          background-color: #e4c5c4;
          color: #000;
          border: 1px solid #000;
          padding: 10px 20px;
          border: 1px solid #000;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer; }
          .contacto .formulario form button:hover {
            transform: scale(1.2);
            transition: all 0.5s; }
  .redes {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .redes a {
      text-decoration: none;
      margin: 0 10px; }
      .redes a:hover {
        transform: scale(1.2);
        transition: all 0.5s; }
    .redes img {
      max-width: 100px;
      border-radius: 10px; } }

/* nav cel */
.bg-spice {
  background-color: #e4c5c4; }

.nav-pc {
  display: none; }

/* nav pc */
@media screen and (min-width: 1100px) {
  .nav-cel {
    display: none; }
  .nav-pc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    z-index: 40000;
    background-color: #e4c5c4; }
    .nav-pc ul {
      display: flex;
      list-style: none;
      align-items: center; }
      .nav-pc ul li {
        margin: 0.2rem 5rem;
        font-size: 1.05rem; }
        .nav-pc ul li:hover {
          transform: scale(1.2);
          transition: all 0.5s; }
        .nav-pc ul li a {
          text-decoration: none;
          color: #000; } }

/* solo footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }
