
/* pag index celu */

.logo{
    display: none;
} 
.principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15rem;
    margin-right: 2.5rem;
         ul{
            li{
                list-style: none;
                color: $second-color;
        }
     }
}

/* pag quiensoy celu */

.cocinera{
    display: none;
}
.principal-dos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 5rem;
    margin-top: 5rem;
        .cocinera{
            height: 20rem;
    
    }
        .texto{
            p{
                margin-top: 1.2rem;
                 margin-right: 2rem;
                 margin-left: 2rem;
                color: $second-color;
        
        }
    }
}

/* pagina menu celu */

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 1rem;
        div{ 
            height: 24rem;
            width: 14rem;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    margin-top: 1rem;   
            }
    }  

}
.carta-cinco, .carta-seis{
display: none;
}

/* pagina galeria celu */

.galeria{ 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 1rem;
        div{
            object-fit: cover;
            height: 15rem;
            width: 11rem;
                img{
                    height: 100%;
                    width: 100%;
                    margin-top: 1rem;
                    object-fit: cover;
            }
    } 
} 

/* pagina redes celu */

.redes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 15rem;
    margin-top: 7rem;
        img{
            display: none;
    } 
        a{
            text-decoration: none;
            color: $second-color;
            font-size: 2rem;
    }  
}

 /* pag index pc */

@media screen and (min-width:990px){

    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        justify-content: center;
        margin-top: 9rem;
            ul{
                li{
                     font-size: 2rem;
                    text-align: center;
                    list-style: none;
                    color: $second-color;
             }
        }
            .logo{
                display: block;
                grid-column: span 1;
                grid-row: span 1;
                height: 25rem;
                object-fit: cover;
    
        }
    }

 /* pag quiensoy pc */

    .principal-dos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        margin-top: 15vh;
            .cocinera{
                display: block;
                grid-column: span 1;
                grid-row: span 1;
                height: 25rem;
                object-fit: cover;
                margin-bottom: 2rem;
        }
            .texto{
                display: grid;
                font-size: 1.5rem;
                padding-left: 8rem;
                color: #80203B;
        
        }
    }

    /* pag menu pc */

    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        gap: 2rem;
        height: 100vh;
            .carta-cinco, .carta-seis{
                display: block;
                grid-column: span 1;
                grid-row: span 1;
        }
            div{ 
                height: 50rem;
                width: 30rem;
                img{
                    @include contener;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
            }
         }
        
    }

/* pag galeria pc */
    
    .galeria{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        gap: 1rem;
        height: 100vh;
            div{
                object-fit: cover;
                height: 50rem;
                width: 30rem;
                    img{
                        @include contener;
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                }
            } 
    } 

/* pag redes pc */

    .redes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        gap: 2rem; 
        margin-top: 9rem;
            a{
                text-decoration: none;
                color: $second-color;
                font-size: 2rem;
                margin-left: 30rem;
        }
            img{
                display: block;
                grid-column: span 1;
                grid-row: span 1;
                object-fit: cover;
                height: 10rem;
                margin-right: 30rem;
        } 
    }
}



