/* pag index celu */

.logo {
    display: none;
}

.principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15rem;
    margin-right: 2.5rem;

    ul {
        li {
            list-style: none;
            color: $second-color;
        }
    }
}

/* pag quiensoy celu */

.cocinera {
    display: none;
}

.principal-dos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 5rem;
    margin-top: 5rem;


    .cocinera {
        height: 20rem;

    }

    .texto {
        text-align: center;

        p {
            margin-top: 1.7rem;
            margin-right: 2rem;
            margin-left: 2rem;
            color: $second-color;

        }
    }
}

/* pagina menu celu */

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 1rem;

    div {
        height: 90%;
        width: 60%;


        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-top: 2rem;
        }
    }

}

.carta-cinco,
.carta-seis {
    display: none;
}

/* pagina galeria celu */

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    //gap: 1rem;

    div {
        object-fit: cover;
        height: 80%;
        width: 50%;

        img {
            height: 100%;
            width: 100%;
            margin-bottom: 1rem;
            object-fit: cover;
        }
    }
}

/* pagina redes celu */

.redes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 15rem;
    margin-top: 7rem;

    img {
        display: none;
    }

    a {
        text-decoration: none;
        color: $second-color;
        font-size: 2rem;
    }
}


/* pag index tablet */

@media screen and (min-width: 630px) {
    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 9rem;
        ul {
            li {
                font-size: 2rem;
                text-align: center;
                list-style: none;
                color: $second-color;
            }
        }

        .logo {
            border-radius: 10px;
            display: block;
            height: 25rem;
            object-fit: cover;
            margin-top: 3rem;
            margin-left: 3rem;
        }
    }

/* pag quiensoy pc */

.principal-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .cocinera {
        display: block;
        border-radius: 10px;
        height: 25rem;
        object-fit: cover;
        margin: 0 2rem 5rem;
    }

    .texto {
        display: inline;
        text-align: center;
        width: 40rem;
        font-size: 1.2rem;
        margin-left: 2rem;
        color: $second-color;



    }
}

}







/* pag index pc */

@media screen and (min-width:1100px) {

    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 9rem;
        gap: 10%;

        ul {
            li {
                font-size: 2rem;
                text-align: center;
                list-style: none;
                color: $second-color;
            }
        }

        .logo {
            border-radius: 10px;
            display: block;
            height: 25rem;
            object-fit: cover;
        }
    }

    /* pag quiensoy pc */

    .principal-dos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .cocinera {
            display: block;
            border-radius: 10px;
            height: 25rem;
            object-fit: cover;
            margin: 0 2rem 5rem;
        }

        .texto {
            display: inline;
            text-align: center;
            width: 40rem;
            font-size: 1.2rem;
            margin-left: 2rem;
            color: $second-color;



        }
    }

    /* pag menu pc */

    .menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        gap: 1rem;
        height: 100vh;


        .carta-cinco,
        .carta-seis {
            display: block;
            grid-column: span 1;
            grid-row: span 1;
        }

        div {
            object-fit: cover;
            height: 90%;
            width: 60%;

            img {
                border-radius: 10px;
                height: auto;
                display: block;
                @include contener;
                margin-top: 1rem;
                margin-bottom: 3.5rem;
            }
        }

    }

    /* pag galeria pc */

    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        gap: 1rem;
        height: 100vh;

        div {
            object-fit: cover;
            height: 90%;
            width: 60%;

            img {
                @include contener;
                border-radius: 10px;
                margin-top: 1rem;
                margin-bottom: 3rem;
            }
        }
    }

    /* pag redes pc */

    .redes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        gap: 2rem;
        margin-top: 9rem;

        a {
            text-decoration: none;
            color: $second-color;
            font-size: 2rem;
            margin-left: 30rem;
        }

        img {
            display: block;
            grid-column: span 1;
            grid-row: span 1;
            border-radius: 10px;
            object-fit: cover;
            height: 10rem;
            margin-right: 30rem;
        }
    }

}